<!DOCTYPE html>
<html>
    <head lang="en">
        <!-- IE Edge Meta Tag -->
        <meta charset="UTF-8">
        <!-- Viewport : enables combatibility with display on smaller devices -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Database</title> 
        <!-- links to style sheet -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Links to header images-->
        <div>
            <a href="http://www.northeastern.edu/"><img class="img-responsive" src="../static/university.jpg" width="400" height="49"></a>
            <img class="img-responsive" src="../static/Lab-banner.jpg" width="960" height="46">
        </div>
        <!--  Nav-bar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.northeastern.edu/helmuthlab/index.html"><span class="glyphicon glyphicon-home"></span> Back to Helmuth lab Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not session.logged_in %}
                            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-danger">
            <h1>DATABASE<h1>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages%}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- query form -->
        <div class="query-box container">
            <form action="" method="post" id="query" name="query">
                <!-- first row in query form -->
                <div class="row">
                    <div class="col-md-4">
                        <label for="dropdown_menu_logger_type">Logger Type:</label>
                        <!-- dropdown menu of logger types gotten from database-->
                        <select id ="dropdown_menu_logger_type" class="form-control">
                            <option value="-1">PLease select Logger Type</option>
                            {% for type in form.logger_type %}
                                <option value="{{ type }}">{{ type[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>   
                    <div class="col-md-4">
                        <!-- dropdown menu of Countries related to selected logger type -->
                        <label for="dropdown_menu_country_name">Country Name:</label>
                        <select id ="dropdown_menu_country_name" class="form-control" >
                            <option value="-1">Please select Country Name</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="dropdown_menu_state_name">State Name:</label>
                        <!-- dropdown menu of states related to selected Country -->
                        <select id ="dropdown_menu_state_name" class="form-control" >
                            <option value="-1">Please select State Name</option>
                        </select>
                    </div>
                </div>
                </br>
                <!-- Second row in query form -->
                <div class="row">
                    <div class="col-md-3">
                        <label for="dropdown_menu_location_name">Location Name:</label>
                        <select id ="dropdown_menu_location_name" class="form-control">
                            <option value="-1">PLease select Location Name</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown_menu_zone_name">Zone Name:</label>
                        <select id ="dropdown_menu_zone_name" class="form-control" >
                            <option value="-1">Please select Zone Name</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown_menu_sub_zone_name">Sub Zone:</label>
                        <select id ="dropdown_menu_sub_zone_name" class="form-control" >
                            <option value="-1">Please select Sub Zone</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown_menu_wave_exp_name">Wave Exposure:</label>
                        <select id ="dropdown_menu_wave_exp_name" class="form-control" >
                            <option value="-1">Please select Wave exposure</option>
                        </select>
                    </div>
                </div>
                </br>
                <label for="date_pick_from">Start date:</label> {{ form.date_pick_from(class='date_pick_from') }} 
                <label for="date_pick_to"> to End date:</label> {{ form.date_pick_to(class='date_pick_to') }} 
                <span class="glyphicon glyphicon-calendar"></span>
                <div class="container text-center" > 
                    <button type="button" id="button_submit_query" class="btn btn-success btn-lg">Submit</button>
                </div>
            </form>
        </div>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        <div class="panel-collapse collapse" id="collapse1">
            <table class="table" id="query-results-table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Temperature</th>
                    </tr>
                </thead>
            </table>
        </br>
            <div class="container text-center" > 
                <a href="/download" class="btn btn-info btn-lg" role="button">Download</a>
            </div>
        </div>
    
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>    
</html>
<!-- scripts used by form -->
<script src="../static/script.js"></script> 