<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <!-- IE Edge Meta Tag -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Viewport : This is for the display on smaller devices such as mobile, tab etc.-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SavingNemo</title> 
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!-- jQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
      
      <!-- Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      
      $(function() {
        $( "#date_pick_from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#date_pick_to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });

        
        $('#state_name').click( function () {
          state_name = $("#state_name option:selected").text();
          $.getJSON('/_parse_data', {
            select_type: "state_name",
            select_value: state_name
            }, function(data) {
            var options = $("#location_name");
            options.empty();
            $.each(data, function() {
              options.append($("<option />").val(this).text(this));
            });
          });
        });

        // $('#dropdown_menu_logger_type li a').click( function () { 
        //   logger_type = $(this).text();
        //   alert(logger_type)
        //   $('#dropdown_btn_logger_type').text(logger_type).append(' <span class="caret"/>');
        //   $.getJSON('/_parse_data', {
        //             select_type: "logger_type",
        //             select_value: logger_type
        //           })
        //     .done(function(data){              
        //       $('#dropdown_menu_country_name').empty()
        //       $.each(data, function(country){ 
        //         $("#dropdown_menu_country_name").append('<li><a href=\"#\"><option value=\"'+country+'\">'+country+'</option></a></li>')
        //       });
        //     });
        //   });

        // $('#dropdown_menu_country_name li a').click( function () {
        //   country_name = $(this).text();
        //   alert(country_name)
        //   $('dropdown_btn_country_name').text(country_name).append(' <span class="caret"/>');
        //   $.getJSON('/_parse_data', {
        //     select_type: "country_name",
        //     select_value: country_name
        //     }, function(data) {
        //     $('#dropdown_menu_state_name').empty()
        //     $.each(data, function(state) {
        //       $("#dropdown_menu_state_name").append('<li><a href=\"#\"><option value=\"'+state+'\">'+state+'</option></a></li>')
        //     });
        //   });
        // });

        
        $('#country_name').click( function () {
          /*country_name = $(this).text();*/
          country_name = $("#country_name option:selected").text();
          /*$('.db_country_name').text(country_name).append(' <span class="caret"/>');    */
          $.getJSON('/_parse_data', {
            select_type: "country_name",
            select_value: country_name
            }, function(data) {
            var options = $("#state_name");
            $.each(data, function() {
              options.append($("<option />").val(this).text(this));
            });
          });
        });


        $('#logger_type').click( function () {
          logger_type = $("#logger_type option:selected").text();
            $.getJSON('/_parse_data', {
                    select_type: "logger_type",
                    select_value: logger_type
                  })
            .done(function(data){              
              $('#country_name').empty()
              $.each(data, function(country){ 
                $("#country_name").append($("<option />").val(this).text(this));             
              });
            });
            $.getJSON('/_parse_data', {
              select_type: "lt_for_zone",
              select_value: logger_type
              }, function(data) {
              var options = $("#zone_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });
            
            $.getJSON('/_parse_data', {
              select_type: "lt_for_subzone",
              select_value: logger_type
              }, function(data) {
              var options = $("#sub_zone_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });

            $.getJSON('/_parse_data', {
              select_type: "lt_for_wave_exp",
              select_value: logger_type
              }, function(data) {
              var options = $("#wave_exp_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });
           //  $.getJSON('/_parse_data', {
           //         select_type: "logger_type",
           //         select_value: logger_type
           //       })
           // .done(function(data){              
           //   $('#dropdown_menu_country_name').empty();
           //   $("#dropdown_menu_country_name").append('<option value="-1">Please select Country Name</option>')
           //   $.each(data, function(country){ 
           //     $("#dropdown_menu_country_name").append('<option value=\"'+country+'\">'+country+'</option>')
           //   });
           // });
         });
       $('#dropdown_menu_logger_type').change( function () {
         logger_type = $("#dropdown_menu_logger_type option:selected").text();
         alert(logger_type)
         $.getJSON('/_parse_data', {
                   select_type: "logger_type",
                   select_value: logger_type
                 })
           .done(function(data){              
             $('#dropdown_menu_country_name').empty();
             $("#dropdown_menu_country_name").append('<option value="-1">Please select Country Name</option>')
             $.each(data, function(country){ 
               $("#dropdown_menu_country_name").append('<option value=\"'+country+'\">'+country+'</option>')
             });
           });
         });
       $('#dropdown_menu_country_name').change( function () {
         country_name = $("#dropdown_menu_country_name option:selected").text();
         alert(country_name)
         $.getJSON('/_parse_data', {
           select_type: "country_name",
           select_value: country_name
           }, function(data) {
           $('#dropdown_menu_state_name').empty()
           $('#dropdown_menu_state_name').append('<option value="-1">Please select State Name</option>')
           $.each(data, function(state) {
             $("#dropdown_menu_state_name").append('<option value=\"'+state+'\">'+state+'</option>')
           });
         });
       });
</script>
</head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  


    <!--  Nav-bar -->
    <div>
      <a href="http://www.northeastern.edu/"><img class="img-responsive" src="../static/university.jpg" width="400" height="49"></a>
      <img class="img-responsive" src="../static/Lab-banner.jpg" width="960" height="46">
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
          </button>
      </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="http://www.northeastern.edu/helmuthlab/index.html"><span class="glyphicon glyphicon-home"></span>Back to Helmuth lab Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>Navigation: 
      <a href="/">Home</a>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Log out</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages%}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<div class="query-box">
  <form action="{{ url_for('query') }}" method="post" name="query">
<!--     LoggerType(required): 
      <div class="btn-group">
        <button id="dropdown_btn_logger_type" class="btn btn-default dropdown-toggle db_logger_type" type="button" name="LoggerType" data-toggle="dropdown" aria-expanded="true">Select a Logger Type&nbsp;<span class="caret"></span>
        </button>
        <ul id="dropdown_menu_logger_type" class="dropdown-menu dd_logger_type" role="menu" aria-labelledby="dropdown_btn_logger_type">
          {% for type in form.logger_type %}
            <li>
              <a href="#">{{ type }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="btn-group">
        <button id="dropdown_btn_country_name" class="btn btn-default dropdown-toggle db_country_name" type="button" data-toggle="dropdown">Select Country&nbsp;<span class="caret"></span>
        </button>
        <ul id="dropdown_menu_country_name" class="dropdown-menu dd_country_name" role="menu">
          {% for country in form.country_name %}
            <li>
              <a href="#">{{ country }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="btn-group">
        <button id="dropdown_btn_state_name" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select State&nbsp;<span class="caret"></span>
        </button>
        <ul id="dropdown_menu_state_name" class="dropdown-menu" role="menu">
          {% for state in form.state_name %}
            <li>
              <a href="#">{{ state }}</a>
            </li>
          {% endfor %}
        </ul>
      </div> -->
      <div class="row">
     <div class="col-md-4">
     <select id ="dropdown_menu_logger_type" class="form-control">
       <option value="-1">PLease select Logger Type</option>
       {% for type in form.logger_type %}
           <option value="{{ type }}">{{ type[1] }}</option>
       {% endfor %}
     </select>
       </div>

       <div class="col-md-4">
        <select id ="dropdown_menu_country_name" class="form-control" >
        <option value="-1">Please select Country Name</option>
        </select>
      </div>

       <div class="col-md-4">
        <select id ="dropdown_menu_state_name" class="form-control" >
        <option value="-1">Please select State Name</option>
        </select>
      </div>
      </div>

<!--    <p>Logger Type(required): {{ form.logger_type }}</p>
   <p>Country(required): {{ form.country_name }}</p>
   <p>State: {{ form.state_name }}</p>
   <p>Location: {{ form.location_name }}</p>
   <p>Zone: {{ form.zone_name }}</p>
   <p>Sub Zone: {{ form.sub_zone_name }}</p>
   <p>Wave Exposure: {{ form.wave_exp_name }}</p>
   <p>Date Range(required): from (mm/dd/yyyy) {{ form.date_pick_from(class='date_pick_from') }} to (mm/dd/yyyy) {{ form.date_pick_to(class='date_pick_to') }}</p>
   <p>{{ form.measurement_interval }}</p>
   <p>{{ form.analysis_type }}</p>
   <br>
   <p>Fields marked with * are compulsory</p> -->
   <p> <input type="submit" value="View Results" name="Submit"></p>
</form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>
  </body>
</html>
