<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <!-- IE Edge Meta Tag -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Viewport : This is for the display on smaller devices such as mobile, tab etc.-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SavingNemo</title> 
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
</head>
  <body>


    <!--  Nav-bar -->
    <div>Navigation: 
      <a href="/">Home</a>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Log out</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages%}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<div class="query-box">
  <form action="" method="post" id="query" name="query">
  <!-- <form action="{{ url_for('query') }}" method="post" name="query"> -->
    <div class="row">
      <div class="col-md-4">
      <select id ="dropdown_menu_logger_type" class="form-control">
        <option value="-1">PLease select Logger Type</option>
        {% for type in form.logger_type %}
            <option value="{{ type }}">{{ type[1] }}</option>
        {% endfor %}
      </select>
        </div>
        <div class="col-md-4">
      <select id ="dropdown_menu_country_name" class="form-control" >
        <option value="-1">Please select Country Name</option>
      </select>
    </div>
      <div class="col-md-4">
      <select id ="dropdown_menu_state_name" class="form-control" >
        <option value="-1">Please select State Name</option>
      </select>
    </div>
  </div>


   Logger Type(required): {{ form.logger_type }}
   <p>Country(required): {{ form.country_name }}</p>
   <p>State: {{ form.state_name }}</p>
   <p>Location: {{ form.location_name }}</p>
   <p>Zone: {{ form.zone_name }}</p>
   <p>Sub Zone: {{ form.sub_zone_name }}</p>
   <p>Wave Exposure: {{ form.wave_exp_name }}</p>
   <p>Date Range(required): from (mm/dd/yyyy) {{ form.date_pick_from(class='date_pick_from') }} to (mm/dd/yyyy) {{ form.date_pick_to(class='date_pick_to') }}</p>
   <p>{{ form.measurement_interval }}</p>
   <p>{{ form.analysis_type }}</p>
   <br>
   <p>Fields marked with * are compulsory</p>
   <p> 
    <button type="button" id="button_submit_query" class="btn btn-success">Submit</button>
    <!-- <input type="submit" value="View Results" name="Submit"></p> -->
  </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <div class="panel-collapse collapse" id="collapse1">
      <table class="table" id="query-results-table">
        <thead>
        <tr>
          <th>Timestamp</th>
          <th>Temperature</th>
        </tr>
        </thead>
        
      <a href="/download" class="btn btn-info" role="button">Download</a>
    </div>
          <!-- jQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
      
      <!-- Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      
      
  </body>
    
</html>
<script>
$(function() {
        $( "#date_pick_from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#date_pick_to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
        
        $('#state_name').click( function () {
          state_name = $("#state_name option:selected").text();
          $.getJSON('/_parse_data', {
            select_type: "state_name",
            select_value: state_name
            }, function(data) {
            var options = $("#location_name");
            options.empty();
            $.each(data, function() {
              options.append($("<option />").val(this).text(this));
            });
          });
        });

        $('#dropdown_menu_logger_type').change( function () {
          logger_type = $("#dropdown_menu_logger_type option:selected").text();
          alert(logger_type)
          $.getJSON('/_parse_data', {
                    select_type: "logger_type",
                    select_value: logger_type
                  })
            .done(function(data){              
              $('#dropdown_menu_country_name').empty();
              $("#dropdown_menu_country_name").append('<option value="-1">Please select Country Name</option>')
              $.each(data, function(country){ 
                $("#dropdown_menu_country_name").append('<option value=\"'+country+'\">'+country+'</option>')
              });
            });
          });

        $('#dropdown_menu_country_name').change( function () {
          country_name = $("#dropdown_menu_country_name option:selected").text();
          alert(country_name)
          $.getJSON('/_parse_data', {
            select_type: "country_name",
            select_value: country_name
            }, function(data) {
            $('#dropdown_menu_state_name').empty()
            $.each(data, function(state) {
              $("#dropdown_menu_state_name").append('<option value=\"'+state+'\">'+state+'</option>')
            });
          });
        });
        
        $('#country_name').click( function () {
          /*country_name = $(this).text();*/
          country_name = $("#country_name option:selected").text();
          /*$('.db_country_name').text(country_name).append(' <span class="caret"/>');    */
          $.getJSON('/_parse_data', {
            select_type: "country_name",
            select_value: country_name
            }, function(data) {
            var options = $("#state_name");
            $.each(data, function() {
              options.append($("<option />").val(this).text(this));
            });
          });
        });




        $('#logger_type').click( function () {
          logger_type = $("#logger_type option:selected").text();
            $.getJSON('/_parse_data', {
                    select_type: "logger_type",
                    select_value: logger_type
                  })
            .done(function(data){              
              $('#country_name').empty()
              $.each(data, function(country){ 
                $("#country_name").append($("<option />").val(this).text(this));             
              });
            });
            $.getJSON('/_parse_data', {
              select_type: "lt_for_zone",
              select_value: logger_type
              }, function(data) {
              var options = $("#zone_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });
            
            $.getJSON('/_parse_data', {
              select_type: "lt_for_subzone",
              select_value: logger_type
              }, function(data) {
              var options = $("#sub_zone_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });

            $.getJSON('/_parse_data', {
              select_type: "lt_for_wave_exp",
              select_value: logger_type
              }, function(data) {
              var options = $("#wave_exp_name");
              options.empty();
              $.each(data, function() {
                options.append($("<option />").val(this).text(this));
              });
            });

        });

        $('#button_submit_query').click(function () {                   
          $.getJSON('/_submit_query', {
            logger_type: $("#logger_type option:selected").text(),
            country_name: $("#country_name option:selected").text(),
            state_name: $("#state_name option:selected").text(),
            location_name: $("#location_name option:selected").text(),
            zone_name: $("#zone_name option:selected").text(),
            sub_zone_name: $("#sub_zone_name option:selected").text(),
            wave_exp: $("#wave_exp_name option:selected").text(),
            start_date: $("#date_pick_from").val(),
            end_date: $("#date_pick_to").val()
          })
          .done(function(data){
            console.log(data.list_of_results)
            var options = $("#query-results-table");
            /*options.show();*/
            $("#collapse1").toggleClass('collapse');
            options.empty()
            options.append("<tbody>")
            $.each(data.list_of_results, function(key, value) {
              options.append("<tr><td>"+value[0]+"</td><td>"+value[1]+"</td></tr>")
            });
            options.append("</tbody>")
          });
        });
    });
</script>
