<!DOCTYPE html>
<html>
    <head lang="en">
        <!-- IE Edge Meta Tag -->
        <meta charset="UTF-8">
        <!-- Viewport : enables combatibility with display on smaller devices -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- links to style sheet -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <title>Database</title> 
    </head>
    <body>
        <!-- Links to header images-->
        <div>
            <a href="http://www.northeastern.edu/"><img class="img-responsive" src="../static/university.jpg" width="400" height="49"></a>
            <img class="img-responsive" src="../static/Lab-banner.jpg" width="960" height="46">
        </div>
        <!--  Nav-bar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.northeastern.edu/helmuthlab/index.html"><span class="glyphicon glyphicon-home"></span> Back to Helmuth lab Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not session.logged_in %}
                            <li><a href="{{ url_for('login') }}" data-toggle="popover" data-placement="top" data-trigger="hover"data-content="Please log in to upload data"><span class="glyphicon glyphicon-log-in" ></span> Log in</a>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('upload') }}"><span class="glyphicon glyphicon-upload"></span> Upload data</a>
                            </li>
                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-danger">
            <h1>DATABASE<h1>
        </div>
        <div class="container text-right">
            <a href="#" data-toggle="popover" data-placement="left" class= "btn btn-info" data-trigger="hover" data-content="Please click and choose an option from each select field in the following order: Biomimic type, Country, State, Location, Zone, Sub Zone and Wave exposure">
                <span class="glyphicon glyphicon-question-sign"></span> Help
            </a>
        </div>
        <div class="query-box container">
            <strong class="text-danger"><em>fields marked with * are compulsory</em></strong>
            <br><br>
            <form action="" method="get" id="query" data-toggle="validator" onsubmit="return false;" name="query" role="form" type="">
                <!-- first row in query form -->
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="dropdown_menu_biomimic_type">Biomimic Type:<w class = "text-danger"> * <w> </label>
                            <select id ="dropdown_menu_biomimic_type" class="form-control" required>
                                <option value="">Please select Biomimic Type</option>
                                {% for type in form.biomimic_type %}
                                    <option value="{{ type }}">{{ type[1] }}</option>
                                {% endfor %}
                            </select>
                    </div>   
                    <div class="col-md-4 form-group">
                        <!-- dropdown menu of Countries related to selected logger type -->
                        <label for="dropdown_menu_country_name">Country Name:<w class = "text-danger"> * <w> </label>
                            <select id ="dropdown_menu_country_name" class="form-control" required>
                                <option value="">Please select Country Name</option>
                            </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="dropdown_menu_state_name">State Name:<w class = "text-danger"> * <w> </label>
                            <select id ="dropdown_menu_state_name" class="form-control" required >
                                <option value="">Please select State Name</option>
                            </select>
                    </div>
                </div>
                <br><br>
                <!-- Second row in query form -->
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="dropdown_menu_location_name">Location Name:<w class = "text-danger"><strong> *</strong> <w> </label>
                        <select id ="dropdown_menu_location_name" class="form-control" required>
                            <option value="">Please select Location Name</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="dropdown_menu_zone_name">Zone Name:<w class = "text-danger"> * <w> </label>
                        <select id ="dropdown_menu_zone_name" class="form-control" required>
                            <option value="">Please select Zone Name</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="dropdown_menu_sub_zone_name">Sub Zone:<w class = "text-danger"> * <w> </label>
                        <select id ="dropdown_menu_sub_zone_name" class="form-control" required>
                            <option value="">Please select Sub Zone</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="dropdown_menu_wave_exp_name">Wave Exposure:<w class = "text-danger"> * <w> </label>
                        <select id ="dropdown_menu_wave_exp_name" class="form-control" required>
                            <option value="">Please select Wave Exposure</option>
                        </select>
                    </div>
                </div>
                <br>
                   <!-- Third row in query form -->
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="dropdown_menu_output_type_name">Statistic:</label>
                        <select id ="dropdown_menu_output_type_name" class="form-control">
                            <!-- <option value="">Please select statistic type</option > -->
                            <option value="">All</option>
                            <option value="Max">Max</option>
                            <option value="Min">Min</option>
                            <option value="Average">Average</option>
                        </select>
                    </div>
                    <!-- select option added if != All from statistic -->
                    <div class="col-md-3 form-group" id="frequency-select">
                    </div>
                </div>
                </br>
                </br>
                <!-- Fourth row in query form -->
                <div class="container row">
                    <label for="revision_date">Date Range:</label>
                    <div class="input-group col-md-4" >
                        <input type="text" class="form-control" name="date_pick_from" value="" id="date_pick_from" placeholder="MM/DD/YYYY" required required pattern="\d{2}\/\d{2}\/\d{4}">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="form-control" name="date_pick_to" value="" id="date_pick_to" placeholder="MM/DD/YYYY" required required pattern="\d{2}\/\d{2}\/\d{4}">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <br><br>
                <!-- Submit button -->
                <div class="container text-center form-group" > 
                    <button type="submit" id="button_submit_query" class="btn-success btn-lg" >Submit</button>
                    <br><br>
                    <!-- <strong class="text-danger"><em>fields marked with * are compulsory</em></strong> -->
                </div>
            </form>
        </div>
        <br><br>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <div class="container" id="query-results-table" >
            <div id="title">
            </div>
            <table class="table table-bordered" id="hidden-table">
            <!-- Table appended by user query result -->
            </table>
            <br>
            <div class="container text-center" id= "download-button"> 
             <!-- Dowload button created after successful query-->
            </div>
        </div>
    </body>    
</html>
  <!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- scripts used by form -->
<script src="../static/script.js"></script>
<script>src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>