<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <!-- IE Edge Meta Tag -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Viewport : This is for the display on smaller devices such as mobile, tab etc.-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Minified CSS through CDN-->
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>       
      <title>SavingNemo</title> 
    <script>
      $(function() {
        $( "#date_pick_from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#date_pick_to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#date_pick_from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
      });
    </script>
  </head>
  <body>
    <!--  Nav-bar -->
    <div>Navigation: 
      <a href="/">Home</a>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Log out</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages%}
                <li>{{ message }}</li>
                console.log({message})
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="query-box">
      <form action="" method="post" name="query">
           {{ form.hidden_tag() }}
           <h1>Welcome to Saving Nemo Query Tool!</h1>
           <h2>Please enter your Query in the below field</h2>
           <p>Logger Type: {{ form.logger_type }}*</p>
           <p>Country: {{ form.country_name }}*</p>
           <p>State: {{ form.state_name }}</p>
           <p>Location: {{ form.location_name }}</p>
           <p>Zone: {{ form.zone_name }}</p>
           <p>Sub Zone: {{ form.sub_zone_name }}</p>
           <p>Date Range: from (mm/dd/yyyy) {{ form.date_pick_from(class='date_pick_from') }} to (mm/dd/yyyy) {{ form.date_pick_to(class='date_pick_to') }}*</p>
           <p>{{ form.measurement_interval }}</p>
           <p>{{ form.analysis_type }}</p>
           <br>
           <p>Fields marked with * are compulsory</p>
           <p> <input type="submit" value="View Results" name="Submit"></p>
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>
  </body>
</html>
